files/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="xs:https://andreaslantz.github.io/PEGA/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="receipt">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="header">
			  <xs:complexType>
				<xs:sequence>
				  <xs:element name="image">
					<xs:complexType>
					  <xs:sequence>
						<xs:element type="xs:string" name="src"/>
						<xs:element name="height">
						  <xs:complexType>
							<xs:simpleContent>
							  <xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="units"/>
							  </xs:extension>
							</xs:simpleContent>
						  </xs:complexType>
						</xs:element>
						<xs:element name="width">
						  <xs:complexType>
							<xs:simpleContent>
							  <xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="units"/>
							  </xs:extension>
							</xs:simpleContent>
						  </xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="title"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element type="xs:string" name="storeName"/>
				  <xs:element name="address">
					<xs:complexType>
					  <xs:sequence>
						<xs:element type="xs:string" name="street"/>
						<xs:element type="xs:string" name="city"/>
						<xs:element type="xs:string" name="postalCode"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element type="xs:string" name="organizationNumber"/>
				  <xs:element type="xs:string" name="registrationId"/>
				  <xs:element type="xs:string" name="email"/>
				  <xs:element type="xs:string" name="phone"/>
				  <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
				</xs:sequence>
			  </xs:complexType>
			</xs:element>
			<xs:element name="transaction">
			  <xs:complexType>
				<xs:choice maxOccurs="unbounded" minOccurs="0">
				  <xs:element name="items">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element type="xs:string" name="transactionType"/>
							  <xs:element type="xs:string" name="itemId"/>
							  <xs:element type="xs:string" name="itemName"/>
							  <xs:element name="itemPrice">
								<xs:complexType>
								  <xs:simpleContent>
									<xs:extension base="xs:string">
									  <xs:attribute type="xs:string" name="currency" use="optional"/>
									</xs:extension>
								  </xs:simpleContent>
								</xs:complexType>
							  </xs:element>
							  <xs:element type="xs:string" name="itemQuantity"/>
							  <xs:element name="totalItemPrice">
								<xs:complexType>
								  <xs:simpleContent>
									<xs:extension base="xs:string">
									  <xs:attribute type="xs:string" name="currency" use="optional"/>
									</xs:extension>
								  </xs:simpleContent>
								</xs:complexType>
							  </xs:element>
							  <xs:element name="itemDiscount">
								<xs:complexType>
								  <xs:sequence>
									<xs:element type="xs:string" name="text"/>
									<xs:element type="xs:string" name="discountPercent"/>
									<xs:element name="fixedAmount">
									  <xs:complexType>
										<xs:simpleContent>
										  <xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="currency" use="optional"/>
										  </xs:extension>
										</xs:simpleContent>
									  </xs:complexType>
									</xs:element>
									<xs:element type="xs:string" name="discountQuantity"/>
									<xs:element type="xs:string" name="totalDiscount"/>
								  </xs:sequence>
								</xs:complexType>
							  </xs:element>
							  <xs:element name="vat">
								<xs:complexType>
								  <xs:sequence>
									<xs:element type="xs:string" name="vatPercent"/>
								  </xs:sequence>
								</xs:complexType>
							  </xs:element>
							  <xs:element name="itemAddon">
								<xs:complexType>
								  <xs:sequence>
									<xs:element type="xs:string" name="addonName"/>
									<xs:element type="xs:string" name="addonPrice"/>
								  </xs:sequence>
								</xs:complexType>
							  </xs:element>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
				  <xs:element name="discounts">
					<xs:complexType mixed="true">
					  <xs:sequence>
						<xs:element type="xs:string" name="text" minOccurs="0"/>
						<xs:element type="xs:string" name="discountAmount" minOccurs="0"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element type="xs:string" name="totalItems"/>
				  <xs:element name="amountDue">
					<xs:complexType>
					  <xs:simpleContent>
						<xs:extension base="xs:string">
						  <xs:attribute type="xs:string" name="currency"/>
						</xs:extension>
					  </xs:simpleContent>
					</xs:complexType>
				  </xs:element>
				  <xs:element name="paymentDetails">
					<xs:complexType mixed="true">
					  <xs:sequence>
						<xs:element name="cash" minOccurs="0">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element name="amountReceived">
								<xs:complexType>
								  <xs:simpleContent>
									<xs:extension base="xs:string">
									  <xs:attribute type="xs:string" name="currency"/>
									</xs:extension>
								  </xs:simpleContent>
								</xs:complexType>
							  </xs:element>
							  <xs:element name="change">
								<xs:complexType>
								  <xs:simpleContent>
									<xs:extension base="xs:string">
									  <xs:attribute type="xs:string" name="currency"/>
									</xs:extension>
								  </xs:simpleContent>
								</xs:complexType>
							  </xs:element>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
						<xs:element name="card" minOccurs="0">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element name="amountReceived">
								<xs:complexType>
								  <xs:simpleContent>
									<xs:extension base="xs:string">
									  <xs:attribute type="xs:string" name="currency"/>
									</xs:extension>
								  </xs:simpleContent>
								</xs:complexType>
							  </xs:element>
							  <xs:element type="xs:string" name="cardType"/>
							  <xs:element type="xs:string" name="authMethod"/>
							  <xs:element type="xs:string" name="storeId"/>
							  <xs:element type="xs:string" name="terminal"/>
							  <xs:element type="xs:string" name="aid"/>
							  <xs:element type="xs:string" name="transactionDate"/>
							  <xs:element type="xs:string" name="cardNumber"/>
							  <xs:element type="xs:string" name="transactionType"/>
							  <xs:element type="xs:string" name="sweRef"/>
							  <xs:element type="xs:string" name="ref"/>
							  <xs:element type="xs:string" name="tvr"/>
							  <xs:element type="xs:string" name="tsi"/>
							  <xs:element type="xs:string" name="runNumber"/>
							  <xs:element type="xs:string" name="contactless"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
						<xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element name="totalTax">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="taxLevel" maxOccurs="unbounded" minOccurs="0">
						  <xs:complexType>
							<xs:sequence>
							  <xs:element type="xs:string" name="vatPercentage"/>
							  <xs:element type="xs:string" name="vatTotal"/>
							  <xs:element type="xs:string" name="net"/>
							  <xs:element type="xs:string" name="gross"/>
							</xs:sequence>
						  </xs:complexType>
						</xs:element>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:choice>
			  </xs:complexType>
			</xs:element>
			<xs:element name="footer">
			  <xs:complexType mixed="true">
				<xs:sequence>
				  <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
				  <xs:element name="cashier">
					<xs:complexType>
					  <xs:sequence>
						<xs:element type="xs:string" name="cashierId"/>
						<xs:element type="xs:string" name="cashierName"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element name="line">
					<xs:complexType>
					  <xs:sequence>
						<xs:element type="xs:string" name="text"/>
						<xs:element type="xs:string" name="lineId"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				  <xs:element type="xs:string" name="receiptDate"/>
				  <xs:element type="xs:string" name="receiptNumber"/>
				  <xs:element type="xs:string" name="controlUnit"/>
				</xs:sequence>
			  </xs:complexType>
			</xs:element>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	</xs:schema>